<f:layout name="Default" />

<f:section name="main">
    <h2>Summary of the Logging Demos which have just been executed</h2>

    <dl>
        <f:for each="{demos}" as="demo" key="class">
            <dt style="margin-top: 12px;">Results from calling {class}::execute()</dt>
            <dd style="margin-top: 4px;">{demo}</dd>
        </f:for>
    </dl>

    <h2>Configuration</h2>
    <f:if condition="{debugLegacy}">
        <f:then>
            <f:render partial="Demo/DebugLegacy" arguments="{loggingConfiguration: loggingConfiguration}"/>
        </f:then>
        <f:else>
            <f:render partial="Demo/Debug" arguments="{loggingConfiguration: loggingConfiguration}"/>
        </f:else>
    </f:if>
</f:section>